# Исключить виртуальное окружение
venv/
Venv/
ENV/
env/
ENV.bak/
env.bak/

# Исключить файлы и папки, создаваемые операционной системой
.DS_Store
Thumbs.db

# Исключить временные файлы редакторов и IDE
*.swp
*.swo
*.idea/
*.vscode/

# Исключить файлы базы данных
*.sqlite3

# Исключить файлы логов
*.log

# Исключить файлы кэша
__pycache__/
*.py[cod]
*$py.class

# Исключить файл .env
.env